.display{
    display: none;
}

.poster{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
     
         
}
.sale{
    height: 80vh;
    width: 70vw;
    border-radius: 30px;
}
.postersale{
width: 80vw;display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
height: 90vh;
margin-bottom: 30px;

}
section{
    border-top: 3px solid black;
}
 
.receipes{
    margin: 20px;
   
}
.container-fluid{
    width: 80%;
}
.receipe{
    margin: 20px;
    justify-content: space-between;
     

}
nav{
    background-color: rgba(218, 206, 206, 0.61);
}

.col-2{
    margin: 20px;
    padding:20px;
    width: 20%;
    border-radius: 10px;
     box-shadow: 0 0 20px rgb(43, 42, 42);
    
}
.text{
    font-size: 16px;
    margin-top: 20px;
     
}
 
.text{
    height: 100%;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
}
.addtocart{
     
     border-radius: 5px;
    color:black;
    font-weight: 700;
}